@mixin boxShadow() {
  box-shadow: -1px 1px 4px rgba(0,0,0,0.17);
}

.box-style {
  width: 100%;
  height: auto;
  padding: 2em 1em;
  background-color: #fff;
  box-shadow: -1px 1px 4px rgba(0,0,0,0.17);
  border-radius: 5px;
  position: relative;
  
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgb(35, 185, 201),rgb(98, 111, 159));
    z-index: 1;
  }
}



#activated,
#consulta,
#profile,
#informe,
#progress {
  position: relative;

  &:before {
    display: none;
  }
}


//welcome

.text-motivation {}

.welcome-box {
  position: relative;
  top: 0;
  z-index: 2;
}

.avatar-user {
  position: relative;
  top: -10px;
  display: block;
  margin: auto;
  padding-top: 1.5em;
  position: relative;

  i {
    font-size: 3em;
    color: #918e8e;
    display: block;
    margin: auto;
  }
  @include boxShadow();
}

.icon-buying-home {}
//info-piggy-about-but

.info-piggy {
  /*background-image: linear-gradient(to right, rgba(189, 0, 142,1),rgba(233, 65,0,1));*/
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to right, rgba(255, 255, 255,1),rgba(255, 255,255,1));
  border-radius: 10px;
  width: 60%;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2%;
    background-image: linear-gradient(to right, rgba(189, 0, 142,1),rgba(233, 65,0,1));
  }
}

.pig-icon {
  width: 50%;
}

.g-pig {
  border-right: 2px solid rgba(189, 0, 142,1);
  margin-right: 1em;
}

#buying {
  position: relative;
  display: block;
  margin: auto;
  width: 300px;
}

.button-gradient-org {
  display: block;
  margin: auto;
}
//replace styles of Vue
/*#pinField {
  color: rgba(255,222,64,1);
}
#panel-buy .theme--dark.v-text-field > .v-input__control > .v-input__slot:before{
  border-color: rgba(255,222,64,1);
}
#panel-buy .theme--dark.v-label{
  color: rgba(255,222,64,1);
}*/

#cardPin .primary--text {
  color: rgba(212,60,0,1)!important;
  caret-color: rgba(212,60,0,1) !important;
}
//panel-buy

.panel-buy {
  width: 40%;
  height: auto;
  border-radius: 20px;
  display: block;
  margin: auto;
}

.panel-buy .v-expansion-panel__container {
  position: relative;
  background-image: linear-gradient(to right ,rgba(255,222,64,1),rgba(212,60,0,1));
  border-radius: 20px;
  z-index: 1;
}

.panel-buy .v-expansion-panel__header {
  min-height: 38px;
  height: 10px;
  padding: 8px 24px;
  text-align: center;
  align-items: center;
}
//mi piggy

#piggyBox {
  width: 300px;
}

.mensaje-progress {
  width: 100%;
  width: 100%;
  display: block;
  height: auto;
}

.mensaje {
  width: 20%;
  height: 120px;
  padding: 10px 5px 10px 1em;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.17);
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  display: block;
  margin: auto;

  &:before {
    content: "";
    position: absolute;
    top: -25%;
    left: 60%;
    width: 0;
    height: 0;
    border-left: 40px solid #fff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    transform: rotate(-90deg);
  }

  .bar-box {
    position: absolute;
    top: 80%;
    left: 5%;
    background-image: linear-gradient(to left, rgba(211, 84, 0,1.0),rgba(241, 196, 15,1.0));
    width: 60%;
    height: 10px;
    border-radius: 5px;
  }
}

.stycker {
  position: relative;
  @include boxShadow();
  padding: 0.4em;
  width: 20%;
  display: block;
  margin: auto;
  border-radius: 5px;
  background-color: lighten(#F39C12, 10);
  margin-top: 1em;

  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 62%;
    left: 12%;
    width: 0;
    height: 0;
    border-right: 30px solid lighten(#F39C12, 10);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    transform: rotate(-90deg);
    transition: top .2s ease-in,
                opacity .2s ;
  }
  &:hover{
      background-color: lighten(#F39C12, 2);
  .pay-icon{
      top: 10%;
     opacity: 1;
    }
    .text-pay_vount{
          opacity: 0;
           transform: translateY(10%);
    }
  }
  &:hover::before{
    opacity: 0;
      top: 40%;
      }
}

.row-icon{
  position: absolute;
  left: 80%;
  top: 30%;
  color: darken(#F39C12, 15);
}
.pay-icon{
  top: -10%;
  opacity: 0;
  left: 40%;
  position: absolute;
  transition: top .3s .1s ease-out,
              opacity .5s .1s;
}
.text-pay_vount{
  transform: translateY(0);
  transition: transform .3s ease-out,
              opacity .4s;
}
.timeline-piggy__item {
  position: relative;
  width: 50%;
  display: block;
  margin: auto;
  height: 100px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 10px;
    border-radius: 10px;
    left: 20%;
    top: 40%;
    background-color: #CCF0F2;
  }

  .title-proggress {
    position: relative;
    top: 50%;
  }
}

.line-my {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  @include boxShadow();
  background-color: #fff;

  span {
    color: lighten(#2d3436, 20);
    font-size: 2.2em;
    position: relative;
    top: 18px;
  }
}

.line-refer {
  position: absolute;
  right: 10%;
  top: 10%;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  @include boxShadow();
  background-color: #fff;

  span {
    font-size: 1.8em;
    position: relative;
    top: 12px;
  }
}

.line-text {
  position: relative;
  top: -20px;
}

//profile

#count,
#personal {
  position: relative;
  width: 100%;
  padding: 1em 2em;
  margin-top: 1em;
  overflow: hidden;
  @include boxShadow();

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 0;
    background-color: #0984e3;
    transition: height 0.3s;
  }

  &:hover::before {
    height: 100%;
  }
}

#bancaria,
#personal {
  position: relative;
  width: 100%;
  padding: 1em 2em;
  margin-top: 1em;
  overflow: hidden;
  @include boxShadow();

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 0;
    background-color: #0984e3;
    transition: height 0.3s;
  }

  &:hover::before {
    height: 100%;
  }
}

.box-input {
  position: relative;
  width: 100%;
  height: auto;
  /*border: 1px solid red;*/
  input {
    width: 90%;
    border-radius: 5px;
    padding: 6px 4px 0 10px;
    color: #434d4f;
    border: 1px solid #434d4f;
    transition: border 0.2s;
    transition: transform 0.3s ease-in-out, width 1s;

    &:focus {
      outline: none;
      border: 1px solid #2ecc71;
      color: #2ecc71;
    }

    &:focus {
      /*  color: #0984e3#2ecc71;*/
      //border: 1px solid  #2ecc71;
      transform: translate3d(3%,0,0);
      width: 88%;
    }

    &:valid ~ label.label {
      left: 0;
      color: #0984e3;
      opacity: 0;
    }

    &:focus ~ label.label {
      left: 4%;
    }

    &:focus ~ .icon-set {
      top: 60%;
      opacity: 1;
      color: #2ecc71;
    }

    &:valid ~ label {
      color: #2ecc71;
    }
  }

  label.label {
    opacity: 1;
    position: absolute;
    left: 2%;
    top: 60%;
    transition: left 0.3s ease-in-out, opacity 0.2s;
  }

  .icon-set {
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 0;
    color: #434d4f;
    font-size: 1.2em;
    transition: top 0.2s, opacity 0.2s;
  }
}

.btn-float {
  position: relative;

  &-left {
    left: 80%;
  }

  &-left-2 {
    left: 100%;
  }
}

.headling-input {
  width: 100%;
  display: inline-flex;
  margin-bottom: 5px;
}

.status {
  background: #f1f1f1;
}

.iconet {
  color: #434d4f;
  font-size: 1.2em;
}

.title-input {
  margin-bottom: 1em;
  margin-left: 2.2em;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 2%;
    left: 2%;
    width: 40px;
    height: 40px;
    background-color: #f1f1f1;
    border-radius: 50%;
  }
}

.ml {
  margin-left: 2.2em;
}

.icon-inf {
  color: #0984e3;
  font-size: 1.4em;
  z-index: 2;
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 15px;
  left: 2%;
  width: 40px;
  height: 40px;
}

.label-item {
  margin-left: 2.4em;
}
/*###table activate###*/

.table-activate {
  @include boxShadow();
  margin-bottom: 1em;
}

.table-activate table {
  border: none;
}

.table-activate thead {
  background-image: linear-gradient(to right, rgba(189, 0, 142,1),rgba(52, 152, 219,1.0));
  color: #fff;
}

.table-activate tbody {
  color: #2d3436;
  font-size: 1.2em;
  background-color: #fff;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken(#fff,5);
  }
}

.table-activate tbody tr {
  &:hover {
    background-color: rgba(52, 152, 219,0.1) !important;
  }
}

.theme--dark.v-table thead th {
  color: #fff;
  font-size: 1em;
}

.btn-act {
  left: -10%;
}

.icon-admin-role {
  color: #2d3436;
  font-size: 1.5em;
  position: absolute;
  left: 35%;
}

.title-adm {
  position: relative;
}

.v-table__overflow {
  &::-webkit-scrollbar {
    width: 2px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten(#2d3436, 60);
    border-radius: 4px;
  }
}

#activated .v-dialog {
  overflow: hidden;
  background-color: red;
}

#modaled {
  overflow: hidden;
}

.header_act {
  background-image: linear-gradient(to right, rgba(46, 204, 113,1.0),rgba(52, 152, 219,1.0));
}
#cardActPay{
  .v-input--selection-controls__ripple{
    border: 1px solid  rgba(46, 204, 113,1.0);
  }
.v-input__slot .theme--dark.v-label{
  color:rgb(16, 194, 60);
}
}

.card-act {
  background-color: #fff !important;
  padding: 1em 1em;
}


#app .textField {
  display: block;
  margin: auto;
  width: 50%;
}

#app .selectField {
  display: block;
  margin: auto;
  width: 80%;
}

#app .selectField .v-icon {
  color: rgba(52, 152, 219,1.0);
  font-size: 2em;
}

#app .v-select__selection--comma {
  color: darken(#bdc3c7,20);
}

#app .selectField .v-text-field > .v-input__control > .v-input__slot:after {
  transform: scaleX(1);
  border-bottom: 2px solid rgba(52, 152, 219,1.0);
}

#app .v-text-field .v-input__append-inner {
  margin: 0;
}

#app .v-select-list .theme--dark.v-list {
  color: #2d3436;
  background-color: #fff !important;
}

#app .v-select-list .v-list__tile {
  border-bottom: 1px solid lighten(#2d3436, 60%);

  &:hover {
    background-color: lighten(#2d3436, 75%);
  }
}

#app .textField .v-text-field__slot input {
  width: 100%;
  color: darken(#bdc3c7,20);
  border-bottom: 2px solid rgba(52, 152, 219,1.0);
  transition: box-shadow 0.2s;

  &:valid {
    /*border-bottom:none ;*/
  }

  &:focus {
    border-bottom: none;
  }

  &:hover {
    @include boxShadow();
  }
}

#app .selectField .v-select__slot input {
  width: 100%;
  color: darken(#bdc3c7,20);
  border-bottom: 2px solid lighten(#2d3436, 65%);

  &:valid {}
}

#app .textField .v-text-field__slot::after {
  border-bottom: 2px solid rgba(52, 152, 219,1.0);
}

#app .textField .v-text-field__slot textarea {
  color: #2d3436;
}

#app .selectField .v-select__slot label,
#app .textField .v-text-field__slot label {
  color: #2d3436;
}
/*### Consulta*####*/
#consulta {
  top: 10px;


  .v-tabs__bar.theme--dark {
    background-color: #ecf0f1;
  }

  .theme--dark.v-tabs__bar .v-tabs__div {
    color: #2d3436;
  }

  .theme--dark.v-icon {
    color: #2d3436;
  }

  .v-tabs__item--active {
    color: #0984E3;

    .v-icon {
      color: #0984E3;
    }
  }

  .theme--dark.v-sheet {
    background-color: white;
  }
}

.weitng {
  font-weight: 800;
}

.consult-card {
  padding: 2em;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#consult-card.theme--dark.v-sheet{
     border: 2px solid #dedede;
}

.consult-card {
  &_box {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    transition: box-shadow 0.4s, border 0.3s;

    &:hover {
      border: none;
      @include boxShadow();
    }
  }

  &_header {
    padding: 0.8em;
    border-bottom: 1px solid #f0f0f0;
    background-color: lighten(rgba(46, 204, 113,1.0), 45%);
    transition: background-color 0.2s;
  }

  &_body {
    padding: 0.8em;
    position: relative;
  }

  &:hover .consult-card_header {
    color: #fff;
    background-color: lighten(rgba(46, 204, 113,1.0), 40%);

    .blue--text {
      color: darken(rgba(52, 152, 219,1.0),20%) !important;
    }
  }
}

.consult-title {
  background-color: lighten(#f0f0f0,4%);
  padding-bottom: 0.2em;
  border-bottom: 1px solid rgba(52, 152, 219,1.0);
  margin-bottom: 1em;
}

.input_seach {
  position: relative;
  left: 30%;
  background-color: rgba(52, 152, 219,0.8);
  border: none;
  border-radius: 20px;
  padding: 0.3em;
  height: 40px;
  display: inline-block;
  overflow: hidden;
  transition: border 0.2s;
  @include boxShadow();
  width: 40%;

  &:hover {
    border: 1px solid rgba(52, 152, 219,1);
  }
}
.displaying{
  display: block;
  margin: auto;
}

.icon_consult_act {
  display: block;
  margin: auto;
  width: 40%;
  opacity: 0.3;
}

.title_consult_act {
  position: relative;
  top: -60px;
  opacity: 0.6;
}

.consult-card thead {
  background-color: lighten(#f0f0f0,4%);
  color: #2d3436;
}

.consult-card{
  .theme--dark.v-table thead th {
    color: #2d3436;
    font-size: 1em;
    &:hover{
      color: rgba(52, 152, 219,0.8) !important;
    }
  }
  .theme--dark.v-datatable thead th.column.sortable.active{
      color: #2d3436;
      &:hover{
      color: rgba(52, 152, 219,0.8);
      }

  }
  .theme--dark.v-table{
    background-color: #fff !important;
    color: lighten(#2d3436,20%) !important;

    &:hover{
      background-color: lighten(#f0f0f0,4%) !important;
    }
  }
  .theme--dark.v-datatable .v-datatable__actions{
  background-color: lighten(#f0f0f0,5%);
  border-top: 2px solid lighten(#f0f0f0,3%);
  color: lighten(#2d3436,20%);
  }
.v-datatable__actions{
  position: relative;
  height: 50px;
  overflow: hidden;
}
  .v-datatable__actions__select{
    position: absolute;
    top: 0;
    left: 5%;
  }
  .v-datatable__actions__range-controls{
    position: absolute;
    top: 0;
    left: 40%;
  }
  .theme--dark.v-table tbody tr:hover:not(.v-datatable__expand-row){
      background-color: rgba(52, 152, 219,0.1);
  }
  #tableCard .v-icon{
      color: lighten(#2d3436,20%) !important;
  }
}
#consulta{
  transition: .2s;
}
#tabs{

  transition: position .3s;
  transition: .3s ;
}


//informe
.card-wrap{
  margin-top: 1em; 
}
.i-card{
  width: 70%;
  height: 200px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to top, rgba(#fff,0.08 ),rgba(#fff,1));
  box-shadow: -1px 1px 4px rgba(0,0,0,0.17);
  border-radius: 5px;
  border: 1px solid #F14B24;
  margin-top: 1em;
  margin: auto;
  display: block;
  transform: scale(1);
  transition: border .4s ease-out,
              transform .4s ease-out  ;
  &-body{
    position: relative;
    z-index: 5;
    padding-top: 2em;
  }
  &-icon{
    width: 40%;
    display: block;
    margin: auto;
    margin-top: 0.5em;
  }
  &-title{
  padding-top: 1em;
  border-top: 1px solid #F14B24;
  width: 40%;
  display: block;
  margin: auto;
  }
  .text{
    color: #F14B24;
    transition: color .2s;
  }

  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%) translateY(100%) rotate(-120deg) ;
    background-image: linear-gradient(to top, rgba(#F14B24,1 ),rgba(#F7931E,1));
    border-radius: 4em;
    transition: transform .4s ease-out,
                border-radius .4s ease-out,
                border .4s ease-out ;

  }
  &:hover{
border: 0px solid #F14B24;
transform: scale(1.1);

  .text{
    color: #fff;
  }
  .icon-fill{
    fill:#fff;
    transition: fill .2s ease-out;
  }
  .icon-stroke{
    stroke:#fff;
  }
  .flot-card{
    animation-play-state: paused;
  }
  }

}

.i-card:hover::before{
  transform: translateX(0) translateY(0) rotate(0deg) ;
  border-radius: 0;

}

.flot-card{
  transform: translateY(40px);
  opacity: 1;
animation: flot 1.8s ease-in-out infinite;
}
@keyframes flot{

  0%{
    transform: translateY(0px);
        opacity: 0.4;
  }

  50%{
    transform: translateY(-10px);
    opacity: 1;
  }

  100%{
    transform: translateY(0px);
    opacity: 0.4;
  }
}
