

.nav-hed{
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  position: static;


}

.logo{
  position: relative;
  left: -18%;

}

.title-logo{
  position: relative;
  left: -37%;
}

.button-h{
  position: relative;
  top:-100px;
}
